/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* .main_container {
  background-image: url(./assets/background.jpg);

  background-size: cover;
  height: 100vh;
  color: white;
  -webkit-text-stroke: 0.3px black;
  font-weight: 900;
  text-shadow: 2px 2px black;
  font-size: 23px;
} */
